/* variabless */
/* colors */
/* fonts */
/* sizes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@300;500&display=swap");
/* my reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

/* globals */
html {
  font-size: 62.5%;
  height: 100%; }

img {
  max-width: 100%; }

h1 {
  font-family: "Poppins", sans-serif; }

p,
a {
  font-family: "Raleway", sans-serif; }

a {
  text-decoration: none; }

/* header */
.nav {
  height: 100%;
  padding: 2em; }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center; }

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  height: 100%;
  padding: 0 1.5em; }
  .footer.index {
    height: 10vh; }
  .footer__logo img {
    width: 15rem;
    filter: invert(100%); }
  .footer__copy {
    font-size: 1.8rem;
    color: #f8f9fa; }

/* grid areas layout Mobile*/
body.index {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 45% auto;
  grid-template-rows: 15% auto 10%;
  grid-template-areas: "head head head" "main main main" "side side side" "foot foot foot"; }

header.index {
  grid-area: head;
  background-color: #212529; }

main.index {
  grid-area: main;
  background-color: #212529; }

aside.index {
  grid-area: side;
  background-color: #f8f9fa; }

footer.index {
  grid-area: foot; }

/* navBar */
header a {
  color: #f8f9fa; }

.nav {
  height: 100%;
  padding: 2em; }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    filter: invert(90%); }

.navbar-nav {
  position: absolute;
  right: 4em; }

a.nav-link {
  font-size: 1.8rem;
  color: #f8f9fa;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease-in-out;
  border-bottom: 2px solid transparent;
  margin-right: 1em; }
  a.nav-link:hover {
    border-bottom: 2px solid #f8f9fa; }
  a.nav-link.active {
    border-bottom: 2px solid #e63946; }

/* hero */
main.index {
  height: 100vh; }

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-image: url(../../assets/images/project.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .hero__content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 95, 95, 0.39);
    border-radius: .425rem;
    padding: 2rem;
    margin: 0 2em; }
  .hero__title {
    text-align: center;
    font-size: 4.6rem;
    color: #f8f9fa;
    margin-bottom: 1em; }
  .hero__text {
    text-align: center;
    font-size: 3.6rem;
    color: #f8f9fa;
    margin-bottom: 1em; }
  .hero__btn {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #212529;
    background-color: #f8f9fa;
    padding: 1em 2.4em;
    border-radius: .5rem;
    transition: all .3s ease-in-out; }
  .hero__btn__container {
    text-align: center;
    margin-top: 5em;
    transition: all 300ms ease-in-out; }
    .hero__btn__container a:hover {
      box-shadow: inset 0 0 0 25px #212529;
      border-radius: .5em;
      color: #f8f9fa;
      background-color: #212529; }

/* aside */
.socials {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em; }
  .socials img {
    width: 5em;
    transition: all .3s ease-in-out; }
    .socials img:hover {
      filter: invert(30%); }
  .socials a {
    transition: all 300ms ease-in-out; }
    .socials a:hover {
      transform: scale(1.2); }

/* footer */
footer.index {
  height: 10vh; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  height: 100%;
  padding: 0 1.5em; }
  .footer__logo img {
    width: 15rem;
    filter: invert(100%); }
  .footer__copy {
    font-size: 1.8rem;
    color: #f8f9fa; }

@media (min-width: 638px) {
  body.index {
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 45% auto;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: "head head head" "main main side" "foot foot foot"; }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__logo img {
    padding: 0; } }

@media (min-width: 638px) {
  li.nav__item {
    font-size: var(--sm);
    color: var(--white); } }

@media (min-width: 638px) {
  .socials {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }

@media (min-width: 768px) {
  .about__image {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (max-width: 429px) {
  .about__title {
    font-size: 3.2rem;
    color: var(--black);
    letter-spacing: .8rem;
    padding: 1em 0; }
  .about__text {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 300;
    color: var(--black);
    padding: 0 1em 1em 1em; } }

@media (max-width: 991px) {
  .nav-item {
    background-color: #212529;
    padding: 1em; } }
