/* footer */
footer {
    &.index {
        height: 10vh;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($colores, "black");
    height: 100%;
    padding: 0 1.5em;

    &__logo img {
        width: 15rem;
        filter: invert(100%);
    }

    &__copy {
        font-size: map-get($sizes, "sm");
        color: map-get($colores, "white");
    }
}