/* header */
header a {
    color: map-get($colores, "white");
}

.nav {
    height: 100%;
    padding: 2em;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}