/* grid areas layout Mobile*/
body {
    &.index {
        height: 100vh;
        display: grid;
        grid-template-columns: 45% 45% auto;
        grid-template-rows: 15% auto 10%;
        grid-template-areas:
            "head head head"
            "main main main"
            "side side side"
            "foot foot foot";
    }
}

header.index {
    grid-area: head;
    background-color: map-get($colores, "black");
}

main.index {
    grid-area: main;
    background-color: map-get($colores, "black");
}

aside.index {
    grid-area: side;
    background-color: map-get($colores, "white");
}

footer.index {
    grid-area: foot;
}

/* navBar */

.nav {
    height: 100%;
    padding: 2em;

    &__logo {
        @include flex(flex, row, center, center);
        width: 15rem;
        filter: invert(90%);
    }

}

.navbar-nav {
    position: absolute;
    right: 4em;
}

a.nav-link {
    font-size: map-get($sizes, "sm");
    color: map-get($colores, "white");
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
    margin-right: 1em;

    &:hover {
        border-bottom: 2px solid map-get($colores, "white");
    }

    &.active {
        @extend a.nav-link;
        border-bottom: 2px solid map-get($colores, "white");
    }
}

/* hero */
main {
    &.index {
        height: 100vh;
    }
}

.hero {
    height: 100%;
    @include flex(flex, row, center, center);
    background-position: center center;
    background-image: url(../../assets/images/mainFrame2.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        height: 50%;
        @include flex(flex, column, center, center);
        background-color: rgba(95, 95, 95, 0.390);
        border-radius: .425rem;
        padding: 2rem;
        margin: 0 2em;
    }

    &__title {
        text-align: center;
        font-size: map-get($sizes, "xl");
        color: map-get($colores, "white");
        margin-bottom: 1em;
    }

    &__text {
        text-align: center;
        font-size: map-get($sizes, "lg");
        color: map-get($colores, "white");
        margin-bottom: 1em;
    }

    &__btn {
        text-decoration: none;
        font-size: map-get($sizes, "sm");
        font-weight: 600;
        color: map-get($colores, "black");
        background-color: map-get($colores, "white");
        padding: 1em 2.4em;
        border-radius: .5rem;
        transition: all .3s ease-in-out;
    }

    &__btn__container {
        text-align: center;
        margin-top: 5em;
        transition: all 300ms ease-in-out;

        & a:hover {
            box-shadow: inset 0 0 0 25px map-get($colores, "black");
            border-radius: .5em;
            color: map-get($colores, "white");
            background-color: map-get($colores, "black");
        }
    }
}

/* aside */
.socials {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    & img {
        width: 5em;
        transition: all .3s ease-in-out;

        &:hover {
            filter: invert(30%);
        }
    }

    & a {
        transition: all 300ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

/* ----------------------------------------------------------------------sin sass youtube------------------------------------------------------------ */
/* main */
main.youtube {
    height: 100vh;
}

.youtube__container {
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 2em 1em;
}

.youtube__title {
    text-align: center;
    font-family: var(--title);
    font-weight: 600;
    font-size: var(--xl);
    color: var(--black);
}

.youtube__text {
    text-align: center;
    font-family: var(--text);
    font-size: var(--md);
    letter-spacing: .5rem;

}

.youtube__frame {
    width: 100%;
    height: 100%;
}

.youtube__btn {
    display: block;
    margin: 0 auto;
    font-size: var(--sm);
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 1rem;
    padding: .5em 1em;
    transition: all .3s ease-in-out;
}

.youtube__btn:hover {
    color: var(--white);
    background-color: var(--black);
}

/* -----------------------------------------------------------------------sin sass about------------------------------------------------------------- */
/* main */
main.about {
    height: 100vh;
}

.about {
    height: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__image {
    display: none;
}

.about__image img {
    width: 100%;
    aspect-ratio: 1 / 2;
}

.about__title {
    font-size: var(--lg);
    color: var(--black);
    letter-spacing: .6rem;
    padding: 1em 0;
}

.about__text {
    text-align: center;
    font-size: var(--md);
    font-weight: 300;
    color: var(--black);
    padding: 0 1em 1em 1em;
}

/* ---------------------------------------------------------------------sin sass portfolio----------------------------------------------------------- */
/* main */
main.portfolio {
    height: 100%;
}

.portfolio__mainContainer {
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.porfolio__title {
    font-size: var(--lg);
    color: var(--black)
}

.portfolio__type {
    text-align: center;
    font-size: var(--md);
    font-weight: 600;
    color: var(--black);
    padding: 1em 0;
}

.portfolio__subContainer {
    width: 90%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
}

@media(min-width: 768px) {
    .portfolio__subContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.portfolio__container img {
    cursor: pointer;
    border-radius: .4rem;
    margin: .5em;
    transition: all .3s ease-in-out;
}

.portfolio__container img:hover {
    transform: scale(1.01);
    filter: blur(1px);
}

.portfolio__btn {
    font-size: var(--sm);
    font-family: var(--text);
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 1rem;
    padding: .6em 2em;
    transition: all .3s ease-in-out;
}

.portfolio__btn:hover {
    color: var(--white);
    background-color: var(--black);
}

/* ----------------------------------------------------------------------sin sass contact------------------------------------------------------------ */
.contact__title {
    font-size: var(--lg);
    text-align: center;
    padding-top: 1em;
}

main.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(25rem, 1fr));
    gap: 1em;
}

.wrapper .box {
    width: 100%;
    position: relative;
    padding: 2em;
}

.wrapper .box input {
    width: 100%;
    font-size: var(--sm);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black);
    transition: all .3s ease-in-out;
}

.wrapper .box input:focus {
    padding: .6em .3em;
    background-color: rgb(245, 245, 245);
}

.wrapper .box label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);
    font-size: var(--sm);
    padding: .5em;
    transition: all .3s ease-in-out;
}

.wrapper .box input:focus~label {
    padding: 0;
}

#message {
    width: 100%;
    font-size: var(--sm);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black);
    transition: all .3s ease-in-out;
}

.messageLabel {
    position: relative;
    top: -2em;
    left: -.5em;
    color: var(--black);
    font-size: var(--sm);
    padding: .5em;
    transition: all .3s ease-in-out;
}

input.contact__btn {
    font-family: var(--text);
    font-size: var(--sm);
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: .2em;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

input.contact__btn:hover {
    color: var(--white);
    background-color: var(--black);
}