/* grid areas layout Mobile*/
body {
    &.index {
        height: 100vh;
        display: grid;
        grid-template-columns: 45% 45% auto;
        grid-template-rows: 15% auto 10%;
        grid-template-areas:
            "head head head"
            "main main main"
            "side side side"
            "foot foot foot";
    }
}

header.index {
    grid-area: head;
    background-color: map-get($colores, "black");
}

main.index {
    grid-area: main;
    background-color: map-get($colores, "black");
}

aside.index {
    grid-area: side;
    background-color: map-get($colores, "white");
}

footer.index {
    grid-area: foot;
}

/* navBar */
header a {
    color: map-get($colores, "white");
}

.nav {
    height: 100%;
    padding: 2em;

    &__logo {
        @include flex(flex, row, center, center);
        width: 15rem;
        filter: invert(90%);
    }


}

.navbar-nav {
    position: absolute;
    right: 4em;
}

a.nav-link {
    font-size: map-get($sizes, "sm");
    color: map-get($colores, "white");
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
    border-bottom: 2px solid transparent;
    margin-right: 1em;

    &:hover {
        border-bottom: 2px solid map-get($colores, "white");
    }

    &.active {
        @extend a.nav-link;
        border-bottom: 2px solid map-get($colores, "white");
    }
}

/* hero */
main {
    &.index {
        height: 100vh;
    }
}

.hero {
    height: 100%;
    @include flex(flex, row, center, center);
    background-position: center center;
    background-image: url(../../assets/images/project.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        height: 50%;
        @include flex(flex, column, center, center);
        background-color: rgba(95, 95, 95, 0.390);
        border-radius: .425rem;
        padding: 2rem;
        margin: 0 2em;
    }

    &__title {
        text-align: center;
        font-size: map-get($sizes, "xl");
        color: map-get($colores, "white");
        margin-bottom: 1em;
    }

    &__text {
        text-align: center;
        font-size: map-get($sizes, "lg");
        color: map-get($colores, "white");
        margin-bottom: 1em;
    }

    &__btn {
        text-decoration: none;
        font-size: map-get($sizes, "sm");
        font-weight: 600;
        color: map-get($colores, "black");
        background-color: map-get($colores, "white");
        padding: 1em 2.4em;
        border-radius: .5rem;
        transition: all .3s ease-in-out;
    }

    &__btn__container {
        text-align: center;
        margin-top: 5em;
        transition: all 300ms ease-in-out;

        & a:hover {
            box-shadow: inset 0 0 0 25px map-get($colores, "black");
            border-radius: .5em;
            color: map-get($colores, "white");
            background-color: map-get($colores, "black");
        }
    }
}

/* aside */
.socials {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    & img {
        width: 5em;
        transition: all .3s ease-in-out;

        &:hover {
            filter: invert(30%);
        }
    }

    & a {
        transition: all 300ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

/* footer */
footer {
    &.index {
        height: 10vh;
    }
}

.footer {
    @include flex(flex, row, space-between, center);
    background-color: map-get($colores, "black");
    height: 100%;
    padding: 0 1.5em;

    &__logo img {
        width: 15rem;
        filter: invert(100%);
    }

    &__copy {
        font-size: map-get($sizes, "sm");
        color: map-get($colores, "white");
    }
}