main.youtube {
    height: 100vh;
}

.youtube {
    &__container {
        height: 100%;
        @include flex(flex, column, center, center);
        gap: 1em;
        padding: 2em 1em;
    }

    &__title {
        text-align: center;
        font-family: map-get($fonts, "title");
        font-weight: 600;
        font-size: map-get($sizes, "xl");
        color: map-get($colores, "black");
    }

    &__text {
        text-align: center;
        font-family: map-get($fonts, "text");
        font-size: map-get($sizes, "md");
        letter-spacing: .5rem;
    }

    &__frame {
        width: 100%;
        height: 100%;
    }
}

.btn-secondary {
    font-size: map-get($sizes, "sm");
    background-color: map-get($colores, "black");
    color: map-get($colores, "white");
    width: 15em;
    transition: all 300ms ease-in-out;
    border: 2px solid map-get($colores, "black");
    border-radius: 1rem;
    margin: 0 auto;

    &:hover {
        color: map-get($colores, "black");
        background-color: map-get($colores, "white");
    }
}

.video-cards {
    height: 100%;
}

.card {
    &-title {
        font-size: map-get($sizes, "md");
        text-align: center;
    }

    .yt-frame {
        height: 30rem;
        width: 100%;
    }
}