@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@300;500&display=swap');

/* my reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* globals */
html {
    font-size: 62.5%;
    height: 100%;
}

img {
    max-width: 100%;
}

h1 {
    font-family: $title;
}

p,
a {
    font-family: $text;
}

a {
    text-decoration: none;
}